<form id="productsSearchForm" class="search-bar" autocomplete="off">
    <input name="query" class="search-input" title="Type and press enter to search" id="searchInput" type="text" placeholder="Search Products" tabindex="1" />
    <div type="button" title="Type and press enter to search" class="search-btn">
        <label for="searchInput" class="fa fa-search search-btn"></label>
    </div>
    <ul id="searchResults" class="search-results"></ul>
</form>