
@{
    ShoppersSquare_proto.Models.ProductType category = Model;
    ViewBag.Title = category.Name;
}

<h2>@category.Name</h2>
<img src="@category.ImageUrl" />

<ul>
@foreach (var product in category.Products)
{
    <li>@product.Name</li>
}
</ul>