
@{
    ShoppersSquare_proto.Models.ProductType category = Model;
    ViewBag.Title = category.Name;
}

@{
    Html.RenderPartial("_MegaBanner", category);
}

<section class="cards-container">
    <ul class="cards-list">
        @foreach (var product in category.Products.OrderByDescending(p => p.Ratings))
        {
            Html.RenderPartial("_ProductCard", product);
        }
    </ul>
</section>